[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
googletrans = "*"
apistar = "*"
MagicLogger = {git = "https://github.com/rcourivaud/MagicLogger"}

[dev-packages]

[requires]
python_version = "3.6"
